[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
pytz = "*"
holidays = "*"
requests = "*"
pyarrow = "*"
fastparquet = "*"
lxml = "*"
pandas = "*"
user-agent = "*"
retry-requests = "*"
requests-cache = "*"
openmeteo-requests = "*"
entsoe-py = "*"
numpy = "*"
matplotlib = "*"
scikit-learn = "==1.5.2"
torch = "*"
joblib = "*"
xgboost = "*"
lightgbm = "*"
catboost = "*"
shap = "*"
prophet = "*"
optuna = "*"
mapie = "*"
statsmodels = "*"
tabulate = "*"
pysolar = "*"

[dev-packages]

[requires]
python_version = "3.11.5"
