[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
pytz = "*"
holidays = "*"
requests = "*"
pyarrow = "*"
fastparquet = "*"
lxml = "*"
pandas = "*"
user-agent = "*"
retry-requests = "*"
requests-cache = "*"
openmeteo-requests = "*"
entsoe-py = "*"
numpy = "*"
matplotlib = "*"
scikit-learn = "*"
torch = "*"

[dev-packages]

[requires]
python_version = "3.11"
#python_full_version = "3.11.5"
