python-dotenv
pytz
holidays
requests
pyarrow
fastparquet
lxml
pandas
user-agent
retry-requests
requests-cache
openmeteo-requests
entsoe-py
numpy
matplotlib
scikit-learn
torch
joblib
future
xgboost
shap
prophet
optuna
mapie
